<ion-header>
  <ion-toolbar>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment value='all' (ionChange)='onChangeFilter($event)'>
    <ion-segment-button value='all'> All places </ion-segment-button>
    <ion-segment-button value='bookabled'> Bookabled places </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12" sizeSm="8" offsetSm="2">
        <ion-card>
          <ion-card-header>
            <ion-card-title> {{loadedPlaces[0].title}}</ion-card-title>
            <ion-card-subtitle> {{loadedPlaces[0].price | currency}} / Night </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadedPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{loadedPlaces[0].description}}</p>
          </ion-card-content>
          <div class="ion-text-right">
            <ion-button fill="clear" color="primary" routerDirection="forward" [routerLink]="[ loadedPlaces[0].id]"
              >Details</ion-button
            >
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" sizeSm="8" offsetSm="2" text-center>
        <ion-list>
          <ion-item *ngFor="let place of loadedPlaces.slice(1)" detail [routerLink]="[place.id]">
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-avatar slot="end">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-avatar>
            <ion-label>
              <h2>{{place.title}}</h2>
              <p>{{place.description}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
