<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>My Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="new">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="onOpenMenu()">
        <ion-icon name="open" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-sliding *ngFor="let offer of offers" #slidingItem>
          <ion-item [routerLink]="offer.id" detail>
            <ion-thumbnail>
              <ion-img [src]="offer.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{offer.title}}</h2>
            </ion-label>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="secondary" (click)="onEdit(offer.id, slidingItem)">
              <ion-icon slot='icon-only' name="create" ></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
