<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref='/places/offers/{{place.id}}'></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>{{place.title}}</p>
        <ion-img [src]='place.imageUrl'></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
