<ion-header>
  <ion-toolbar>
    <ion-title>Authenticate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf='isLoading'></ion-spinner>
<ion-button (click)='onLogin()' color='primary'>Login
</ion-button>
</ion-content>
