<ion-header>
  <ion-toolbar>
    <ion-menu-button menu="m1" slot="start"></ion-menu-button>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row size-sm="6">
    <ion-col>
        <ion-virtual-scroll [items]="bookings">
          <ion-item-sliding *virtualItem='let booking' approxItemHeight="70px">
            <ion-item >
              <ion-label>
                <h1>{{booking.placeTitle}}</h1>
                <h5>{{booking.guestNumber}}</h5>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger" >
                <ion-icon name="remove" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
