<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
    <ion-back-button defaultHref='/places/offers'></ion-back-button>
    </ion-buttons>
    <ion-title>new-offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
