<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>PairBnB </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/places/discover">
            <ion-icon name="business" slot="start"> </ion-icon>
            <ion-label>Discover Places</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/bookings">
            <ion-icon name="checkbox-outline" slot="start"> </ion-icon>
            <ion-label>Your Booking</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item (click)="onLogout()">
            <ion-icon name="exit" slot="start"> </ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu side="end" menuId="m2">
    <ion-header>
      <ion-toolbar>
        <ion-title>Tools Menu </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content> tools... </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
