<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>offer-bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button margin color="primary" [routerLink]="['/places', 'offers', 'edit', place.id]">Edit</ion-button>
</ion-content>
