<ion-header>
  <ion-toolbar>
    <ion-title>Book this place</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="onCancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" padding>
  <h1>Book this place !</h1>
  <p>{{ selectedPlace.title }}</p>

  <ion-button color="primary" (click)="onBookPlace()">Book</ion-button>
</ion-content>
