<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>Place Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button color='primary' (click)='onBookPlace()'> Book</ion-button>
<ion-grid>
  <ion-row>
    <ion-col>
      <p>{{place.title}}</p>
      <ion-img [src]='place.imageUrl'></ion-img>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
